.stats-view {
  .stats-view-tabs {
    margin: 40px auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
    border: 1px solid $border-color;
    border-radius: 5px;

    & > * {
      cursor: pointer;
      text-align: center;
      display: inline-block;
      width: 33.33333%;

      &.active {
        background-color: $timio-color;
      }
    }
  }
}