.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: $top-bar-height;
  box-shadow: 0 3px 5px #ddd;

  & > div {
    display: inline-block;
    padding: 10px;
    height: 100%;
  }

  .timio-logo {
    width: 120px;

    img {
      width: 100%;
    }
  }

  .logout {
    width: 100px;
    float: right;
    text-align: center;

    button {
      margin: 3px 0 0 3px;
      background:none!important;
      border:none;
      padding:0!important;
      font: inherit;
      cursor: pointer;
      color: $link-color;

      &:hover {
        color: darken($link-color, 15%);
      }
    }
  }

  .nav-bar-container {
    padding: 0;
    width: 100%;
  }
}

.top-bar-spacer {
  height: $top-bar-height + 40px;
}