$top-bar-height: 50px;
$link-color: #1A6FB3;
$text-color: #888;
$text-font: arial;
$font-weight: 200;

@import "bootstrap";
@import "devise";
@import "components/Loader";
@import "components/TopBar";
@import "components/UsageView";
@import "vendor-override/Timeline";

h6, h5, h4, h3, h2, h1, p, span, body {
  font-weight: $font-weight;
}




